[submodule "smk-simple-slurm"]
	path = smk-simple-slurm
	url = git@github.com:jdblischak/smk-simple-slurm.git
[submodule "slurmprofile"]
	path = slurmprofile
	url = git@github.com:jdblischak/smk-simple-slurm.git
[submodule "slurmsimple"]
	path = slurmsimple
	url = git@github.com:jdblischak/smk-simple-slurm.git
[submodule "3diphy"]
	path = 3diphy
	url = git@github.com:nmatzke/3diphy.git
[submodule "A-pro"]
	path = A-pro
	url = git@github.com:chaoszhang/A-pro.git
[submodule "python-phylopic"]
	path = python-phylopic
	url = https://github.com/bendmorris/python-phylopic
