results/**
resources/**
logs/**
.snakemake
.snakemake/**
**/*.pdb
**/*.tsv
examples/**
testdata/**
!testdata/identifiers.txt
!examples/**/identifiers.txt
!examples/**/*.csv
!examples/**/*.nhx
!examples/**/*.nwk
foldseek/bin/foldseek
foldseek/README.md
