[submodule "smk-simple-slurm"]
	path = smk-simple-slurm
	url = git@github.com:jdblischak/smk-simple-slurm.git
[submodule "slurmprofile"]
	path = slurmprofile
	url = git@github.com:jdblischak/smk-simple-slurm.git
[submodule "slurmsimple"]
	path = slurmsimple
	url = git@github.com:jdblischak/smk-simple-slurm.git
