name: Generate documentation
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install sphinx
          python -m pip install sphinx-rtd-theme
          python -m pip install sphinx-autodoc-typehints
      - name: Generate documentation
        run: |
          sphinx-build -b html -a -E docsource docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
          destination_dir: docs
          force_orphan: true